<!DOCTYPE HTML>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Cvcss.css') }}">
    <script src="{{url_for('static', filename='cv.js')}}"></script>
  </head>
  <body>
    <div class="parent">
      <div class="wide top">
        <img src="{{ url_for('static',filename='images/pic1.jpg') }}">
      </div>
      <div class="narrow top">
        <div class="parentVertical" style="justify-content: center;">
          <div class="big">{{ datos["name"] }}</div>
          <br/>
          <div class="medium">PUESTO OCUPADO/BUSCANDO</div>
        </div>
       
      </div>
    
      <div class="break"></div>
      <div class="wide" >
        <div class="parentVertical ">
          <div class="medium">CONTACTO</div>
          <hr style="height:2px;color:black;background-color:black;width:100%;text-align:left;margin-left:0">
          <div class="small">
            ✆  123 456 789<br>
            ✉  {{ datos["mail"] }}<br>
            📍  {{ datos["nacionality"] }}<br>
            👶 {{ datos["birth"] }}<br>
          </div>
          <br>
          <div class="medium">
            IDIOMAS
            <button id="mas-idiomas">+</button>
          </div>
          <hr style="height:2px;color:black;background-color:black;width:100%;text-align:left;margin-left:0">
          <div class="small" id="idiomas">
            Español: Nativo<br>
            Inglés: {{ datos["engLvl"] }}<br>
          </div>
          <br>
          <div class="medium">LENGUAJES DE PROGRAMACIÓN</div>
          <hr style="height:2px;color:black;background-color:black;width:100%;text-align:left;margin-left:0">
          <div class="small">
            {% for item in datos["lang"] %}
                ·  {{ item }}<br>
            {% endfor %}
          </div>
          <br>
          <div class="medium">
            APTITUDES
            <button id="mas-aptitudes">+</button>
          </div>
          <hr style="height:2px;color:black;background-color:black;width:100%;text-align:left;margin-left:0">
          <div class="small" id="aptitudes">
            ·  {{ datos["aptitudes"] }}<br>
          </div>
          <br>
          <div class="medium">
            HABILIDADES
            <button id="mas-habilidades">+</button>
          </div>
          <hr style="height:2px;color:black;background-color:black;width:100%;text-align:left;margin-left:0">
          <div class="small" id="habilidades">
            {% for item in datos["habilidades"] %}
                ·  {{ item }}<br>
            {% endfor %}
          </div>
          <br>
          <div class="medium">OTROS INTERESES</div>
          <hr style="height:2px;color:black;background-color:black;width:100%;text-align:left;margin-left:0">
          <div class="small">
            ·  Creador de yincanas<br>
            ·  Paseos ecológicos grupales<br>
            ·  Lectura grupal en inglés<br>
          </div>
          <br>
        </div>
      </div>
      <div class="narrow">
        <div class="parentVertical">
          <div class="medium">PERFIL</div>
          <hr style="height:2px;color:black;background-color:black;width:100%;text-align:left;margin-left:0">
          <div class="small">
            {{ datos["perfil"] }}
          </div>
          <br>
          <div id="experiencia">
            <div class="medium">
              EXPERIENCIA LABORAL
              <button id="mas-experiencia">+</button>
            </div>
            <hr style="height:2px;color:black;background-color:black;width:100%;text-align:left;margin-left:0">
            <div class="medsmall">
              <b>Trabajador Social</b>
              <br>
              <b><i>México DF,</i></b> | 2022 - Actualmente
            </div>
          </div>
          </br>
          <div id="formacion">
            <div class="medium">
              FORMACION
              <button id="mas-formacion">+</button>
            </div>
            <hr style="height:2px;color:black;background-color:black;width:100%;text-align:left;margin-left:0">
            <div class="medsmall">
              <b>Grado de Trabajo Social</b>
              <br>
              <b><i>ESMA, Madrid</i></b> | 2012 - 2015
            </div>
          </div>

        </div>
       
      </div>
    </div>
  </body>
</html>

